@tailwind base;

/* Stop Safari from rounding the search box */
/* Source: https://stackoverflow.com/a/32644614/8980616 */
input[type="search"] {
    -webkit-appearance: none;
    border-radius: 0;
}

@tailwind components;

.card-link {
    @apply block mx-auto mb-3 w-4 h-4;
    background: linear-gradient(#221522 50%, #FFED66 50%);
}

@tailwind utilities;
