@tailwind base;

article[id]:target {
    background-color: #FFED66;
}

svg {
    animation-duration: 2.5s;
    animation-name: slidein;
}

@keyframes slidein {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(100vw);
  }
}

@tailwind components;

.card-link {
    @apply block mx-auto mb-3 w-4 h-4;
    background: linear-gradient(#221522 50%, #FFED66 50%);
}

.highlight {
    @apply p-1 bg-purple text-yellow rounded-sm;
}

@tailwind utilities;
